/* Basic reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    /* border: 0.5px dotted grey; */
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #ffffff;  
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    padding-top: 10px;
}

.scoreboard{
    width: 600px;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
}

.stars{
    list-style: none;
}

.stars li{
    display: inline;
}

.stars li i{
    color: #ffcc00;
    text-shadow: 1px 1px 1px #444;
}

.deck{
    width: 600px;
    height: 600px;
    margin: 0 auto;
    border-radius: 2%;
    margin-top: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-evenly;
    box-shadow: 4px 4px 18px #888888;
}

.card{
    min-width: 130px;
    min-height: 130px;
    padding: 5px;
    /* background-color: #080000; */
    background-image: linear-gradient(to top left, #4CA1AF, #C4E0E5);
    border-radius: 10px;
    transition: all 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card:hover{
    transform: translateY(-4px);
    box-shadow: 0 3px 5px #333;
}

.card i{
    font-size: 65px;
    display: none;
}

.fliped{
    background-image: none;
    background-color: #00cbff;
    box-shadow: 0 3px 5px #333;
    transform: translateY(-4px);
    pointer-events: none;
}

.fliped i{
    display: initial;
}

.matched{
    background-image: none;
    background-color: #00ff72;
    box-shadow: 0 3px 5px #333;
    transform: translateY(-4px);
    pointer-events: none;
}

.matched i{
    display: initial;
}

.unmatched{
    background-color: red;
}