*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #ffffff;
    /* min-height: 100vh; */
}

section{
    width: 100vw;
    margin-top: calc((90vh - 600px)/2);
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    padding-top: 10px;
}

.scoreboard{
    width: 600px;
    margin: 10px auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-around;
}

.stars{
    list-style: none;
}

.stars li{
    display: inline;
}

.stars li i, .modal i{
    color: #ffcc00;
    text-shadow: 1px 1px 1px #444;
}

.deck{
    width: 600px;
    height: 600px;
    margin: 0 auto;
    border-radius: 2%;
    margin-top: 0;
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -ms-flex-line-pack: space-evenly;
        align-content: space-evenly;
    box-shadow: 4px 4px 18px #888888;
}

.card{
    width: 130px;
    height: 130px;
    /* flex-basis: 22%; */
    padding: 5px;
    background-image: -webkit-linear-gradient(bottom right, #4CA1AF, #C4E0E5);
    background-image: linear-gradient(to top left, #4CA1AF, #C4E0E5);
    border-radius: 10px;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.card:hover{
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
    box-shadow: 0 3px 5px #333;
}

.card i{
    font-size: 65px;
    display: none;
}

.fliped{
    background-image: none;
    background-color: #00cbff;
    box-shadow: 0 3px 5px #333;
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
    pointer-events: none;
}

.fliped i{
    display: initial;
}

.matched{
    background-image: none;
    background-color: #00ff72;
    box-shadow: 0 3px 5px #333;
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
    pointer-events: none;
}

.matched i{
    display: initial;
}

.unmatched{
    background-color: red;
}

/* Modal (https://www.w3schools.com/howto/howto_css_modals.asp) com modificações minhas */
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: calc((100vw - 400px)/2);
    top: calc((100vh - 400px)/2);
    width: 400px; /* Full width */
    height: 400px; /* Full height */
    overflow: none; /* Enable scroll if needed */
    background-color: transparent; /* Fallback color */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 10px;
    width: 400px;
    height: 400px;
}

.modal-content h1, .modal-content h3 {
    text-align: center;
    margin: 35px auto;
}

.modal-content p:first-of-type {
    margin-bottom: 25px;
}

.modal-content p {
    text-align: center;
    margin: 10px 40px;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 32px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.prompt {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
}
.button {
    text-align: center;
    line-height: 35px;
    height: 40px;
    width: 100px;
    margin-top: -10px;
    display: inline-block;
    border-radius: 5px;
    cursor: pointer;
    background-color: #fff;
}

.yes{
    border: 2px solid green;
    color: green;
}

.yes:hover{
    background-color: green;
    color: #fff;
}

.no{
    border: 2px solid red;
    color: red;
}

.no:hover{
    background-color: red;
    color: #fff;
}

@media all and (max-width: 812px){
    .modal, .modal-content{
        width: 300px;
        height: 300px;
        left: calc((100vw - 300px)/2);
        top: calc((100vh - 300px)/2);
    }

    .modal-content h1, .modal-content h3 {
        margin: 15px auto;
    }

    .modal-content p {
        margin: 10px 20px;
        font-size: 0.95rem;
    }

    .modal-content p:first-of-type {
        margin-bottom: 15px;
    }

    section{
        width: 100vw;
        margin-top: 30px;
    }
}

@media all and (max-width: 767px){
    
    .deck{
        border-radius: 8px;
        width: 90vw;
    }
}

@media all and (max-width: 600px){
    
    .scoreboard{
        width: 90vw;
    }

    .deck{
        border-radius: 8px;
        width: 95vw;
    }

    .card{
        flex-basis: 22%;
    }

}

@media all and (max-width: 480px){

    .deck{
        height: auto;
        width: 88vw;
    }

    .card{
        flex-basis: 42%;
        margin-top: 10px;
    }

    .card:last-of-type{
        margin-bottom: 10px;
    }

}

