/* Basic reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #ffffff;  
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    padding-top: 10px;
}

.scoreboard{
    width: 600px;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
}

.stars{
    list-style: none;
}

.stars li{
    display: inline;
}

.stars li i, .modal i{
    color: #ffcc00;
    text-shadow: 1px 1px 1px #444;
}

.deck{
    width: 600px;
    height: 600px;
    margin: 0 auto;
    border-radius: 2%;
    margin-top: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-evenly;
    box-shadow: 4px 4px 18px #888888;
}

.card{
    min-width: 130px;
    min-height: 130px;
    padding: 5px;
    /* background-color: #080000; */
    background-image: linear-gradient(to top left, #4CA1AF, #C4E0E5);
    border-radius: 10px;
    transition: all 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card:hover{
    transform: translateY(-4px);
    box-shadow: 0 3px 5px #333;
}

.card i{
    font-size: 65px;
    display: none;
}

.fliped{
    background-image: none;
    background-color: #00cbff;
    box-shadow: 0 3px 5px #333;
    transform: translateY(-4px);
    pointer-events: none;
}

.fliped i{
    display: initial;
}

.matched{
    background-image: none;
    background-color: #00ff72;
    box-shadow: 0 3px 5px #333;
    transform: translateY(-4px);
    pointer-events: none;
}

.matched i{
    display: initial;
}

.unmatched{
    background-color: red;
}
/* Modal (https://www.w3schools.com/howto/howto_css_modals.asp) com modificações minhas */
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    /* padding-top: 100px; Location of the box */
    left: calc((100vw - 400px)/2);
    top: calc((100vh - 400px)/2);
    width: 400px; /* Full width */
    height: 400px; /* Full height */
    overflow: none; /* Enable scroll if needed */
    background-color: transparent; /* Fallback color */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 10px;
    width: 400px;
    height: 400px;
}

.modal-content h1, .modal-content h3 {
    text-align: center;
    margin: 35px auto;
}

.modal-content p:first-of-type {
    margin-bottom: 25px;
}

.modal-content p {
    margin: 10px 40px;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.prompt {
    display: flex;
    justify-content: space-around;
}
.button {
    text-align: center;
    line-height: 35px;
    height: 40px;
    width: 100px;
    margin-top: -10px;
    display: inline-block;
    border-radius: 5px;
    cursor: pointer;
    background-color: #fff;
}

.yes{
    border: 2px solid green;
    color: green;
}

.yes:hover{
    background-color: green;
    color: #fff;
}

.no{
    border: 2px solid red;
    color: red;
}

.no:hover{
    background-color: red;
    color: #fff;
}